.img-viajes-recomendados {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRFSRPkP2__rj_ka-ec3Tjau7MVzlEXgj1eg&s');
  background-size: cover;
  background-position: center;
  height: 20cap;
  color: aliceblue;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-right: 20px ;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.nav-list a:hover {
  text-decoration: underline;
}
.Home {
  text-align: center;
  background-color:rgb(232, 201, 161);
  min-height: 100vh;
}

.Home-header {
  background-color: #0e2a63;
  height: 80px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  justify-content:end;
}
.acceder-button{
  background-color:darkorange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.ingresar-button{
  background-color:darkorange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.viajes-recomendados-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.viajes-recomendados-footer {
  display: flex;
  gap: 20px;
}

.viajes-recomendados-footer{
  background-size: cover;
  background-position: center;
  height: 20cap;
  color: aliceblue;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.card-destino {
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 18cap;
  width: 49cap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  margin: 20px auto;
}

.card-destino-text {
  padding: 0 0 0 20px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.card-destino-text p {
  margin: 0 20px 10px 0;
  text-align: justify;
}

.lista-footer {
  font-size: small;
  margin-inline: 10px;
  list-style-type: none;
  margin: 0;
  text-align: start;
}
.viajes-recomendados-footer-icons{
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.viajes-recomendados-footer{
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  background-color:chocolate ;
  height: 15cap;
}

.viajes-recomendados-footer-text h6{
  margin: 0;
  padding-left: 15px;
}